@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nobile:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    }

body {
    font-family: 'Nobile', 'Verdana', sans-serif;
    background-color:lightpink;

}



p, h2, h3 {
    font-family: 'Montserrat', 'Verdana', sans-serif;
    clear: both;
    margin-left: 20px;
  
}

#welcome {
    color: white;
    float: right;
    clear: both;
    font-size: 1.5em;
    margin-right: 40px;
    margin-top: 25px;
    
}

#navigation ul {
    float: right;
    clear: both;

   
  
}

#navigation li {
    list-style-type: none;
    float: left;
    font-size: 1.8em;
    font-weight: 700;
   padding: 15px;
   margin-left: 70%;
   margin-top: 30px;

   
 
    

    
}



a:link {
    text-decoration: none;
}

a:visited {
    color: white;
}

#hero-image {
    height: 550px;
    background: url('../images/hero-image.jpg') no-repeat left;
    background-size: 50% 100%;
    background-color:#BEABA6ff;

}

#about-us {
text-align: center;
font-weight: 700;
font-size: 1em;
padding-top: 15px;
padding-bottom: 15px;
}
 
#instructors {
    font-weight: 700;
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 5%;

    }

    #gallery{
        font-weight: 700;
        font-size: 1em;
        padding-top: 20px;
        padding-bottom: 15px;
        margin-right: 5%;
        }

#instructors > img {
    float: left;
   clear: both;
   width: 35%;

}

#gallery> img {
    float: left;
    width: 35%;

}
